# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Environments
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# Flask session cache
instance/
*.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
coverage.xml
.cache

# Jupyter Notebook
.ipynb_checkpoints/

# Uploads folder (optional if you're storing user uploads)
static/uploads/
