
<html lang="en"></html lang="en">
  
    <meta charset="utf-8"></meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  
  
    <div class="container"></div class="container">
      
Submit your details
      <form method="post" enctype="multipart form-data"=""></form method="post" enctype="multipart>
        {{ form.hidden_tag() }}
        
          {{ form.name.label }} {{ form.name(size=32) }}
        
        
          {{ form.email.label }} {{ form.email(size=32) }}
        
        
          {{ form.notes.label }} {{ form.notes(cols=40, rows=5) }}
        
        
          {{ form.image.label }} {{ form.image() }}
        
        
          <button type="submit">Submit</button type="submit">
        
      
    
  
