<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Submit Form</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
	</head>
	<body>
		<div class="container">
			<h1>Submit your details</h1>
			<a href="{{ url_for('logout') }}">Sign Out</a>
			<form method="post" enctype="multipart/form-data">
				{{ form.hidden_tag() }}

				<p>{{ form.name.label }}<br />{{ form.name(size=32) }}</p>
				<p>{{ form.email.label }}<br />{{ form.email(size=32) }}</p>
				<p>{{ form.notes.label }}<br />{{ form.notes(cols=40, rows=5) }}</p>
				<p>{{ form.image.label }}<br />{{ form.image() }}</p>

				<p><button type="submit">Submit</button></p>
			</form>
		</div>
	</body>
</html>
